; vim: ft:gitconfig

[user]
	email = alistair.bush@gmail.com
	name = Alistair Bush
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/alistair/.gitignore_global

[commit]
  template = ~/.gitmessage

[help]
	autocorrect = -1

[color]
	pager = true
	status = auto
	branch = auto
	diff = auto
    interactive = auto

[alias]
  # list files which have changed since REVIEW_BASE
  # (REVIEW_BASE defaults to 'master' in my zshrc)
  files = !git diff --name-only $(git merge-base HEAD \"${REVIEW_BASE-master}\")

  # Same as above, but with a diff stat instead of just names
  # (better for interactive use)
  stat = !git diff --stat $(git merge-base HEAD \"${REVIEW_BASE-master}\")

[github]
  user = alistair
